@charset "UTF-8";

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

html, body {
    overflow-x: hidden;
    font-family: 'Philosopher';
    background-color: #0e1012;
    position: relative;
}

nav,
footer,
header,
aside {
    display: block;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

/* Fonts */


/* Header */

.header {
    min-height: 90px;
    background-color: #0f1013;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}
.header__mobile {
    display: none;
}
.header__burger {
    display: none;
}
.header__nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 670px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #454b59;
}
.header__nav {
    padding: 30px 0 25px 0;
}
.header__nav ul li {
    margin-right: 30px;
}
.header__nav--hover {
    position: absolute;
    background-color: rgba(14, 15, 17, .7);
    top: 61%;
    width: 8%;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    z-index: 10;
}
.header__nav--hover.active {
    opacity: 1;
    visibility: visible;
}
.header__nav--hoverLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header__nav--hoverLink a {
    position: relative;
    color: #fff;
    margin-bottom: 10px;
}
.header__nav--hoverLink a::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid #fbd9ad;
    width: 0;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}
.header__nav--hoverLink a:hover::after {
    width: 100%;
} 
.header__nav--link {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    position: relative;
}
.header__nav--link::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid #fbd9ad;
    width: 0;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}
.header__nav--link:hover::after {
    width: 100%;
} 
.header__nav--linkArrow {
    position: relative;
    display: flex;
    align-items: center;
}
.header__nav--linkArrow:hover img {
    transition: 0.2s;
    transform: rotate(180deg);
}
.header__nav--linkArrow img {
    margin-left: 5px;
}
.header__menu {
    background: url(../images/header-menu-bg.png) no-repeat;
    min-width: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.header__menu--link {
    position: relative;
}
.header__menu--link:hover:after {
    transition: 0.5s;
    top: 100%;
}
.header__menu--link::after {
    content: url(../images/header-menu-arrow.png);
    top: 80%;
    left: 16%;
    position: absolute;
}
.header__log {
    background: url(../images/header-log-bg.png) no-repeat;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__log button {
    background: transparent;
    font-size: 12px;
    color: rgb(175, 206, 127);
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.004);
}
.header__log button:hover {
    color: rgb(193, 252, 104);
    transition: 0.2s;
}
.header__mobile--link img {
    padding: 3px;
}
.header__mobile--linkAcc {
    display: none;
}
.header__mobile--linkAccFlex {
    display: flex;
    flex-direction: column;
    border: 5px solid;
    padding: 5px;
    background-color: rgba(242, 233, 233, 1);
}
.header__mobile--linkImg.active {
    transition: 0.2s;
    transform: rotate(180deg);
}
.header__mobile--linkAcc a {
    color: #0f1013;
    margin-bottom: 5px;
}

/* Main */

.main {
    background: url(../images/main-bg.png) no-repeat;
    background-size: 100% auto;
    margin-top: 50px;
    position: relative;
}
.main__container {
    margin: 0 auto;
    max-width: 1100px;
}
.main__download {
    padding-top: 170px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.main__download--block {
    background: url(../images/main-download-bg.png) no-repeat;
    min-width: 230px;
    min-height: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.main__download--block:hover img {
    transform: scale(1.1);
    transition: 0.2s;
}
.main__download--block img {
    margin: 35px 0 0 76px;
    cursor: pointer;
}
.main__download--text {
    text-align: center;
    padding: 45px 10px 10px 0;
}
.main__download--link {
    color: #ffd686;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
.main__download--game {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}
.main__content {
    display: flex;
    min-width: 0;
}
.main__slider {
    margin-left: 8px;
    min-width: 0;
    position: relative;
}
.main__slider--item {
    position: relative;
}
.main__slider .slick-dots {
    display: flex;
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.main__slider .slick-dots li button {
    font-size: 0;
    width: 30px;
    height: 6px;
    margin-right: 2px;
    background: url(../images/slider-dots.png) 0 0 no-repeat;
}
.main__slider .slick-dots button:hover {
    transition: 0.2s;
    transform: scale(1.1);
}
.main__slider .slick-dots li.slick-active button {
    background: url(../images/slider-active.png) 0 0 no-repeat;
    -webkit-box-shadow: 0px 0px 14px 2px rgba(246,152,45,1);
    -moz-box-shadow: 0px 0px 14px 2px rgba(246,152,45,1);
    box-shadow: 0px 0px 14px 2px rgba(246,152,45,1);
}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
}
.main__slider--text {
    position: absolute;
    bottom: 10%;
    left: 5%;
}
.main__slider--text h1 {
    font-size: 36px;
    font-family: "Philosopher";
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    background: linear-gradient(#ffecb0,  #e78a79);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
}
.main__slider--text p {
    color: #b1b1b1;
    font-size: 14px;
    font-family: 'Roboto';
    max-width: 460px;
}
.main__content--block {
    margin-left: -4px;
}
.main__content--video {
    background: url(../images/video-bg.png) no-repeat;
    padding: 105px 150px;
    cursor: pointer;
}
.main__content--video:hover img {
    transform: scale(1.1);
    transition: 0.2s;  
}

.main__content--online {
    background: url(../images/main-online-bg.png) no-repeat;
    text-align: center;
    margin-top: -2px;
}
.main__content--onlineTitle {
    padding: 25px 0 5px 0;
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(253, 191, 110);
    line-height: 1.2;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.45);
    position: relative;
}
.main__content--onlineTitle:after {
    content: '';
    background-color: rgb(137, 51, 255);
    width: 244px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 17%;
}
.main__content--onlineNum {
    font-size: 42px;
    color: rgb(196, 155, 246);
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.45);
    margin-left: 10px;
    padding-bottom: 22px;
}


/* Status */

.status {
    border-bottom: 1px dotted #454b59;
}

.status__info {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 30px;
}
.status__info--block {
    margin-right: 50px;
    position: relative;
    display: flex;
    align-items: center;
}
.status__info--img {
    margin-left: -10px;
    cursor: pointer;
}
.status__info--img:hover .status__info--all {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
    z-index: 3;
}
.status__info--block p {
    text-align: center;
}
.status__info--name {
    font-size: 14px;
    text-transform: uppercase;
    color: #fbd9ad;
}
.status__info--second {
    text-transform: uppercase;
    font-size: 11px;
    color: #fbd9ad;
}
.status__info--all {
    background: url(../images/status-info-bg.png) no-repeat;    
    position: absolute;
    width: 95px;
    top: 100%;
    left: -25%;
    right: 0;
    height: 200px;
    font-family: 'Roboto';
    font-size: 11px;
    color: #7c745c;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
}
.status__info--allOnline {
    color: #79a854;
}
.status__info--allOffline {
    color: rgb(207, 37, 37);
}


/* News */
.news {
    margin-top: 25px;
}

.news__container {
    margin: 0 auto;
    max-width: 900px;
}
.news__slider--item {
    background: url(../images/slider-item-bg.png) no-repeat;
    background-size: cover;
    padding: 0 10px 0 10px;
}
.news__slider--itemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news__slider--img {
    overflow: hidden;
}
.news__slider--img img {
    width: 280px;
    height: 284px;
}
.news__slider--btn:hover {
    color: #f6e5b1;
}
.news__slider--title {
    text-transform: uppercase;
    font-size: 14px;
    border-style: solid;
    text-align: center;
    padding: 10px 0 10px 0;
    border-width: 1px;
    border-color: rgb(42, 45, 47);
    background-color: rgb(0, 0, 0, 0.19);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.47);
}
.news__slider--title {
    color: #f6e5b1;
}
.news__slider--text {
    font-size: 12px;
    color: #6b6963;
    font-family: 'Roboto';
    padding: 10px;
}
.news__slider--button {
    text-align: center;
}
.news__slider--button button {
    background: url(../images/slider-btn-bg.png) no-repeat;
    background-position: bottom;
    padding: 20px 70px 20px 70px;
    font-size: 12px;
    font-family: "Roboto";
    color: #d8d9bd;
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.68);
}
.news__slider {
    position: relative;
}
.news__slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 32px;
    height: 112px;
}
.news__slider .slick-arrow.slick-prev {
    top: 34%;
    left: -7%;
    background: url(../images/slider-news-arrowL.png) 0 0 / 100% no-repeat;
}
.news__slider .slick-arrow.slick-prev:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
.news__slider .slick-arrow.slick-next {
    top: 34%;
    right: -7%;
    background: url(../images/slider-news-arrowR.png) 0 0 / 100% no-repeat;
}
.news__slider .slick-arrow.slick-next:hover {
    transform: scale(1.1);
    transition: 0.2s;
}



/* Themes */

.themes {
    background: url(../images/themes-bg.png) no-repeat;
    background-size: 100%;
    margin-top: 35px;
}
.themes__title {
    background: url(../images/theme-title-bg.png) no-repeat;
    background-size: 100%;
}
.themes__title--text {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    background: linear-gradient(to right, #fff 50%,#efbc6e 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}
.themes__container {
    margin: 20px auto;
    max-width: 1000px;
}
.themes__info {
    display: flex;
}
.themes__item {
    background: url(../images/theme-item-bg.png) no-repeat;
    background-size: 100% 100%;
    padding: 25px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}
.themes__item--name {
    display: flex;
}
.themes__item--text {
    font-size: 12px;
    font-family: 'Roboto';
    color: #898989;
    padding-bottom: 15px;
    border-bottom: 1px solid #22201b;
    max-width: 210px;
}
.themes__item--nameMain {
    padding: 0 5px 0 5px;
}
.themes__item--nameAuthor {
    font-size: 11px;
    color: #a9a59a;
    font-family: 'Roboto';
    margin-bottom: 5px;
}
.themes__item--nameName {
    font-size: 11px;
    color: #a9a59a;
    font-family: 'Roboto';
    margin-bottom: 5px;
}
.themes__item--nameAuthorLink {
    text-decoration: underline;
    color: #8f876d;
    text-transform: uppercase;
}
.themes__item--nameLink {
    font-size: 12px;
    text-transform: uppercase;
    color: #ffdb6c;
    text-decoration: underline;
}
.themes__item--date {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto';
    color: #ad733f;
}
.themes__item--btn {
    text-align: center;
}
.themes__item--btn button {
    border-style: solid;
    border-width: 1px;
    padding: 8px 20px 8px 20px;
    border-color: rgb(89, 137, 51);
    background: transparent;
    color: #fbfff7;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Roboto';
    opacity: 0.7;
}
.themes__item--btn button:hover {
    opacity: 1;
    transition: 0.2s;
}


/* Reg */

.reg {
    margin-top: 100px;
}
.reg__main {
    background: url(../images/reg-bg.png) no-repeat;
    background-size: 100% 100%;
}

.reg__container {
    padding-bottom: 110px;
}
.reg__title {
    margin: 0 auto;
    max-width: 700px;
    position: relative;
}
.reg__title h1 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.reg__title h1:after {
    content: url(../images/title-reg-right.png);
    position: absolute;
    top: 0;
    left: 20%;
}
.reg__title h1::before {
    content: url(../images/title-reg-left.png);
    position: absolute;
    top: 0;
    left: -85%;
}
.reg__form {
    margin: 0 auto;
    max-width: 310px;
    display: flex;
    flex-direction: column;
}
.reg__form--block {
    position: relative;
    margin-bottom: 10px;
}
.reg__form--blockInput {
    width: 310px;
    height: 30px;
    background: transparent;
    border-left: 1px solid #2c2c36;;
    border-right: 1px solid #2c2c36;
    border-bottom: 1px solid #2c2c36;
    position: relative;
    padding-left: 20px;
    color: #fff;
}
.reg__form--blockFlex {
    display: flex;
    justify-content: space-between;
}
.reg__form--blockFlexOne {
    position: relative;
}
.reg__form--blockFlexOne input {
    max-width: 150px;
    height: 30px;
    color: #787883;
    padding-left: 20px;
}
.reg__form--blockFlexTwo {
    position: relative;
}
.reg__form--blockFlexTwo input {
    max-width: 150px;
    height: 30px;
    color: #787883;
    padding-left: 20px;
}
.reg__form--blockFlex input {
    margin-bottom: 20px;
    background: transparent;
    border-left: 1px solid #2c2c36;;
    border-right: 1px solid #2c2c36;
    border-bottom: 1px solid #2c2c36;
}
.reg__form--name, .reg__form--nameMain, .reg__form--blockFlex p {
    margin-left: 35px;
    color: #787883;
    font-size: 11px;
    font-family: 'Roboto';
}
.reg__form--name:after {
    position: absolute;
    top: 13px;
    content: '';
    border-left: 30px solid #2c2c36;
    left: 0;
    height: 1px;
}
.reg__form--nameMain::after {
    position: absolute;
    top: 13px;
    content: '';
    border-left: 30px solid #2c2c36;
    left: 0;
    height: 1px;
}
.reg__form--nameMain:before {
    position: absolute;
    top: 13px;
    content: '';
    border-left: 230px solid #2c2c36;
    right: 0;
    height: 1px;
}
.reg__form--name::before {
    position: absolute;
    top: 13px;
    content: '';
    border-left: 230px solid #2c2c36;
    right: 0;
    height: 1px;
}
.reg__form--blockFlex p:after {
    position: absolute;
    top: 13px;
    content: '';
    border-left: 30px solid #2c2c36;
    left: 0;
    height: 1px;
}
.reg__form--blockFlexPass::before {
    position: absolute;
    top: 13px;
    content: '';
    border-left: 70px solid #2c2c36;
    right: 0;
    height: 1px;
}
.reg__form--blockFlexPassRep::before {
    position: absolute;
    top: 13px;
    content: '';
    border-left: 30px solid #2c2c36;
    right: 0;
    height: 1px;
}
.reg__form--block select {
    width: 310px;
    height: 30px;
    background: transparent;
    border-left: 1px solid #2c2c36;
    border-right: 1px solid #2c2c36;
    border-bottom: 1px solid #2c2c36;
    color: #ffd6b2;
    font-family: 'Roboto';
    font-size: 12px;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
}
.reg__form--block select option {
    background-color:#0d0f11;
    color: #ffd6b2;
}
.reg__form--send {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.reg__form--send button {
    background: url(../images/reg-btn-bg.png) no-repeat center;
    padding: 12px 15px 12px 15px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.53);
}
.reg__form--send button:hover {
    color: #f6e5b1;
}
.reg__form--sendText p {
    font-family: 'Roboto';
    font-size: 11px;
    color: #696868;
    max-width: 170px;
}
.reg__form--sendText p a {
    color: #bf8c5f;
    text-decoration: underline;
}
.reg__form--sendText p a:hover {
    text-decoration: none;
}



/* Stat */  

.td {
    font-size: 12px;
    font-family: 'Roboto';
    color: #a39d92;
    max-width: 101px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 5px 7px 5px;
    border-bottom: 1px dotted #26272e;
}
.td__first {
    color: #3a3a3a;
    font-size: 12px;
    font-family: 'Roboto';
    padding: 5px 0 5px 0;
}

.caption__first {
    background: url(../images/stat-name-bg.png) no-repeat;
    background-size: 100%;
    padding: 13px 0 13px 0;
    font-size: 14px;
    color: #bdbdbd;
}
.caption__other {
    background: url(../images/stat-name-bg2.png) no-repeat;
    background-size: cover;
    padding: 13px 0 13px 0;
    font-size: 14px;
    color: #bdbdbd;
}
.table__first {
    background: url(../images/stat-info-bg.png) no-repeat;
    background-size: cover;
    padding: 5px;
    margin-right: 10px;
    width: 250px;
}
.table__first tr:last-child td {
    border-bottom: none;
}


.stat {
    margin-top: 75px;
}

.stat__container {
    background: url(../images/stat-bg.png) no-repeat center;
    background-size: cover;
    height: 100vh;
}
.stat__logo {
    text-align: center;
}
.stat__title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    color: #a39d92;
    text-align: center;
    text-transform: uppercase;
}
.stat__info {
    margin: 0 auto;
    max-width: 1020px;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}


/* Footer */

.footer {
    background-color: #0d0f11;
    border-top: 1px solid #2a2b2d;
    margin-top: 20px;
}
.footer__container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__visa a {
    background-image: url(../images/footer-visa.png);
    background-repeat: no-repeat;
    height: 48px;
    display: inline-block;
    margin-right: 30px;
}
.footer__visa a:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
.footer__visa a.paypal {
    background-position: left top;
    width: 30px;
}
.footer__visa a.mastercard {
    background-position: -55px top;
    width: 30px;
}
.footer__visa a.webmoney {
    background-position: -114px top;
    width: 30px;
}
.footer__visa a.visa {
    background-position: -160px top;
    width: 70px;
}
.footer__date {
    font-size: 12px;
    color: #424242;
    font-family: 'Roboto';
    margin-top: -15px;
}


/* Header Menu */

.header__menu--select {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(44, 44, 54);
    background-color: rgba(14, 15, 17, 0.851);
    position: absolute;
    left: -3px;
    top: -2px;
    width: 273px;
    z-index: 152;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}
.header__menu--select.active {
    opacity: 1;
    visibility: visible;
}
.header__menu--selectTopImg:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
.header__menu--selectTop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 35px;
    border-bottom: 5px solid #292929;
}
.header__menu--selectTop:after {
    content: '';
    position: absolute;
    top: 15.2%;
    width: 10px;
    height: 10px;
    border-top: 5px solid #292929;
    border-right: 5px solid #292929;
    margin-right: 10px;
    transform: rotate(-45deg);
}
.header__menu--selectTop p {
    font-size: 14px;
    color: #f0d9be;
    text-transform: uppercase;
    margin-left: 40px;
}
.header__menu--selectTop img {
    cursor: pointer;
}
.header__menu--selectList ul {
    padding-top: 30px;
}
.header__menu--selectList ul li {
    border-bottom: 1px dotted #2b2b2c;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 40px;
    position: relative;
}
.header__menu--selectList ul li:first-child {
    border-top: 1px dotted #2b2b2c;
}
.header__menu--selectList ul li:after {
    content: url(../images/header-menu-hoverAfter.png);
    position: absolute;
    top: 2px;
    left: 4px;
}
.header__menu--selectList ul li a {
    font-size: 14px;
    color: #bababa;
}
.header__menu--selectList ul li a:hover {
    color: #fbd9ad;
}

/* Form Auto */

.login {
    background: rgba(20, 19, 23, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}
.login.active {
    opacity: 1;
    visibility: visible;
}

.form__auto {
    background-color: #141317;
    padding: 30px 50px 50px 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -210px;
    max-width: 420px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}
.form__auto.active {
    opacity: 1;
    visibility: visible;
}
.form__title h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffd6aa;
    padding-bottom: 20px;
    border-bottom: 2px dotted #2f2f2f;
}
.form__text p {
    font-size: 12px;
    color: #4f4f4f;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
}
.form__auto--block {
    position: relative;
    margin-bottom: 10px;
}
.form__auto--block select {
    width: 320px;
    height: 30px;
    background: transparent;
    background: transparent;
    border-left: 1px solid #2c2c36;
    border-right: 1px solid #2c2c36;
    border-bottom: 1px solid #2c2c36;
    color: #ffd6b2;
    font-family: 'Roboto';
    font-size: 12px;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
}
.form__auto--block select option {
    background-color:#0d0f11;
    color: #ffd6b2;
}
.form__auto--blockInput {
    width: 320px;
    height: 30px;
    background: transparent;
    border-left: 1px solid #2c2c36;;
    border-right: 1px solid #2c2c36;
    border-bottom: 1px solid #2c2c36;
    position: relative;
    padding-left: 20px;
    color: #fff;
}
.form__auto--name {
    margin-left: 35px;
    color: #787883;
    font-size: 11px;
    font-family: 'Roboto';
}
.form__auto--name:after {
    position: absolute;
    top: 13px;
    content: '';
    border-left: 30px solid #2c2c36;
    left: 0;
    height: 1px;
}
.form__auto--name::before {
    position: absolute;
    top: 13px;
    content: '';
    border-left: 220px solid #2c2c36;
    right: 0;
    height: 1px;
}
.reg__form--blockInputPass {
    width: 320px;
    height: 30px;
    background: transparent;
    border-left: 1px solid #2c2c36;;
    border-right: 1px solid #2c2c36;
    border-bottom: 1px solid #2c2c36;
    position: relative;
    padding-left: 20px;
    color: #2c2c36;
}
.form__auto--send {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.form__auto--send button {
    background: url(../images/reg-btn-bg.png) no-repeat center;
    padding: 12px 35px 12px 35px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.53);
}
.form__auto--send button:hover {
    color: #ffd6aa;
}
.form__auto--sendText a {
    font-family: 'Roboto';
    font-size: 11px;
    color: #8a8988;
    text-decoration: underline;
}
.form__auto--sendText a:hover {
    text-decoration: none;
}
.form__auto--cross {
    position: absolute;
    top: -10px;
    right: -10px;
}
.form__auto--crossClose {
    cursor: pointer;
}
.form__auto--crossClose:hover {
    transition: 0.2s;
    transform: scale(1.1);
}




/* Media */

@media (max-width: 1030px) {
    .news__slider--item {
        text-align: center;
    }
    .news__slider .slick-arrow.slick-next {
        top: 22%;
        right: 19%;
    }
    .news__slider .slick-arrow.slick-prev {
        top: 22%;
        left: 19%;
    }
}

@media (max-width: 925px) {
    .stat__container {
        height: auto;
    }
    .stat__info {
        flex-direction: column;
    }
    .stat__info--name {
        background-size: cover;
        text-align: center;
    }
    .stat__info--name1 {
        background-size: 100% 100%;
        text-align: center;
    }
    .stat__info--name2 {
        background-size: 100% 100%;
        text-align: center;
    }
    .stat__info--otherName {
        padding-top: 10px;
    }
    .table__first {
        width: auto;
        margin-right: 0;
        text-align: center;
    }

}

@media (max-width: 900px) {
    .main {
        background-size: cover;
    }
    .main__download {
        justify-content: center;
    }
    .main__slider {
        margin-left: 0;
    }
    .main__slider--item img {
        width: 100%;
    }
    .main__content {
        flex-direction: column;
    }
    .main__content--block {
        margin: 0 auto;
    }
}

@media (max-width: 875px) {
    .themes__info {
        flex-direction: column;
    }
    .themes__item--name {
        justify-content: center;
    }
    .themes__item--text {
        padding: 20px;
        max-width: unset;
    }
    .themes__item--all {
        padding-bottom: 10px;
    }
    .themes__item--btn {
        padding-top: 10px;
    }
}

@media (max-width: 835px) {
    .header {
        align-items: center;
        justify-content: space-around;
    }
    .header__log {
        background-position: center;
    }
    .header__log button {
        padding: 10px 15px 10px 15px;
    }
    .header__menu {
        display: none;
    }
    .header__nav {
        display: none;
    }
    .header ul {
        min-width: auto;
        display: block;
    }
    .header__mobile {
        display: block;
        }
        .header__burger {
            display: block;
        }
        .header__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 16;
        }
    
        .header__burger span {
            position: absolute;
            background-color: #fbd9ad; 
            width: 100%;
            height: 3px;
            left: 0;
            top: 9px;
            transition: 0.2s;
        }
        .header__burger:before,
        .header__burger::after {
            content: '';
            position: absolute;
            background-color: #fbd9ad;
            width: 100%;
            height: 3px;
            left: 0;
            transition: 0.2s;
        }
        .header__burger:before {
            top: 0;
        }
        .header__burger::after {
            bottom: 0;
        }
        .header__burger.active span {
            transform: scale(0);
        }
        .header__burger.active:before {
            transform: rotate(45deg);
            top: 9px;
            background-color: #fbd9ad; 
        }
        .header__burger.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
            background-color: #fbd9ad; 
        }
        .header__mobile {
            padding: 100px 0;
            display: block;
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 15;
            transition: 0.2s;
            background-color: #0f1013;
        }
        .header__auto--mobile {
            text-align: center;
        }
        .header__auto--mobile button {
            background: url(../images/reg-btn-bg.png) no-repeat center;
            padding: 12px 25px 12px 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #fff;
        }
        .header__mobile ul {
            text-align: center;
        }
        .header__mobile ul li {
            margin-bottom: 20px;
        }
        .header__mobile .header__mobile--link {
            color: #fff;
            font-size: 20px;
            font-family: 'Philosopher', sans-serif;
            text-transform: uppercase;
        }
        .header__mobile.active {
            top: 0;
        }
}
@media (max-width: 767px) {
    .reg__title {
        max-width: 200px;
    }
    .reg__title h1::before {
        left: -295%;
    }
    .reg__title h1:after {
        left: 67%;
    }
}
@media (max-width: 600px) {
    .main__slider--text {
        left: 3%;
        bottom: 20%;
    }
    .main__slider--text h1 {
        font-size: 22px;
        padding-bottom: 10px;
    }
    .main__slider--text p {
        font-size: 10px;
    }
    .news__slider--img {
        margin-bottom: 100px;
    }
    .news__slider .slick-arrow {
        width: 19px;
        height: 70px;
    }
    .news__slider .slick-arrow.slick-next {
        top: 53%;
        right: 35%;
    }
    .news__slider .slick-arrow.slick-prev {
        top: 53%;
        left: 35%;
    }
    .footer__container {
        flex-direction: column;
    }
    .footer__date {
        margin-top: 0;
    }
}
@media (max-width: 500px) {
    .main__content--block {
        margin: unset;
        margin-left: -4px;
    }
    .main__content--video {
        background-size: 100%;
        text-align: center;
    }
    .main__content--online {
        background-size: 100% 100%;
    }
    .main__content--onlineNum {
        font-size: 32px;
        margin-left: 0;
    }
    .stat__logo img {
        width: 100%;
    }
    .form__auto {
        max-width: 280px;
        left: 72%;
    }
    .form__auto--block select {
        width: 180px;
    }
    .form__auto--blockInput {
        width: 180px;
    }
    .reg__form--blockInputPass {
        width: 180px;
    }
    .reg__form--name::before {
        border-left: 100px solid #2c2c36;
    }
    .form__auto--sendText {
        margin-left: 20px;
    }
    .status__info {
        display: block;
        margin: 0 auto;
        max-width: fit-content;
    }
    .status__info--block {
        margin-right: 10px;
        justify-content: space-between;
    }
}
@media (max-width: 400px) {
    .news__slider .slick-arrow.slick-next {
        top: 51%;
    }
    .news__slider .slick-arrow.slick-prev {
        top: 51%;
    }
}
@media (max-width: 320px) {
    .main__content--video img {
        margin-left: -15px;
    }
}